.center-tags {
    /* From https://github.com/jgthms/bulma/issues/1109 */
    display: flex;
    justify-content: center;
}

.selectable {
    font-size: 32px;
    background-color: white;
    color: #6F00C6;
    padding: 10px;
    margin: 5px;
    border: 2px solid transparent;
    text-align: center;
}

.selectable:hover {
    border: 2px dashed #6F00C6;
}

.selectable_disabled {
    color: #777777;
}

.selectable_disabled:hover {
    border: 2px dashed #777777;
}

.selectionBox {
    width: auto;
    min-width: 300px;
    height: auto;
    min-height: 100px;
    max-height: 400px;
    background: #FFFFFF;
    box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    overflow: hidden;
    display: inline-block;
    /*z-index: 10;*/
}

.selectionBoxHeader {
    background-color: #6F00C6;
    color: white;
    width: 100%;
    font-size: 24px;
    padding: 5px 5px 5px 15px;
}

.selectionBoxBody {
    /* Maxheight (400) - header height (46) = 354 */
    height: 354px;
    padding: 15px 15px 0;
    overflow-y: auto;
}

#invisibleDiv {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    /* Background color just for debugging */
    background-color: rgba(255, 0, 0, 0.5);
    display: none;
}

.selectableListElement {
    color: #6F00C6;
    font-size: 18px;
    padding: 3px;
}

.selectableListElement:hover {
    background-color: #eeeeee;
}

.selectableListElement:not(:last-child) {
    border-bottom: 1px solid #cccccc;
}