:root {
    --primary-color: #6F00C6;
    --inactive-color: #777777;
    --hover-color: #f5f5f5;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

/* From https://css-tricks.com/couple-takes-sticky-footer/ */
.sticky-footer {
    flex-shrink: 0;
    width: 100%;
    padding: 0 20px;
    background-color: var(--hover-color);
}

.center-tags {
    /* From https://github.com/jgthms/bulma/issues/1109 */
    display: flex;
    justify-content: center;
}

.selectable {
    font-size: 32px;
    background-color: white;
    color: var(--primary-color);
    padding: 10px;
    margin: 5px;
    border: 2px solid transparent;
    text-align: center;
}

.selectable:hover {
    border: 2px dashed var(--primary-color);
}

.selectable_disabled {
    color: var(--inactive-color);
}

.selectable_disabled:hover {
    border: 2px dashed var(--inactive-color);
}

.selectionBox {
    width: auto;
    min-width: 300px;
    height: auto;
    min-height: 100px;
    max-height: 408px;
    background: #FFFFFF;
    box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    overflow: hidden;
    display: inline-block;
    position: relative;

    /*z-index: 10;*/
}

.selectionBoxHeader {
    background-color: var(--primary-color);
    color: white;
    width: 100%;
    font-size: 24px;
    padding: 5px 5px 5px 15px;
}

.selectionBoxBody {
    /* Maxheight (408) - header height (46) = 362 */
    max-height: 362px;
    padding: 15px;
    overflow-y: auto;
}

#invisibleDiv {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    height: 100%;
    width: 100%;
    /* Always fit the selection box: */
    min-height: 408px;
    /* Background color just for debugging */
    /*background-color: rgba(255, 0, 0, 0.5);*/
    display: none;
}

.selectableListElement {
    color: var(--primary-color);
    font-size: 18px;
    padding: 3px;
    cursor: pointer;
}

.selectableListElement:hover {
    background-color: var(--hover-color);
}

.selectableListElement:not(:last-child) {
    border-bottom: 1px solid #cccccc;
}

.medium-text {
    font-size: 20px;
}

.primary-text {
    color: var(--primary-color) !important;
}

.white-text {
    color: white;
}

.input:focus, .input:active, .select select:focus, .select select:active, .textarea:focus, .textarea:active {
    border-color: var(--primary-color);
    box-shadow: none;
}

.select::after {
    /* Change the dropdown arrow color */
    border-color: var(--primary-color) !important;
}

.normal-button {
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    background-color: white;
    color: var(--primary-color);
    padding: 10px;
    font-size: 18px;
}

.normal-button:hover {
    background-color: var(--hover-color);
}

button {
    cursor: pointer;
}

.topbar {
    background-color: var(--primary-color);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    width: 100%;
    height: 40px;
    font-size: 26px;
}

.topbarleft {
    float: left;
}

.topbarright {
    float: right;
    height: 30px;
    width: 150px;
    padding-top: 8px;
    padding-bottom: 8px;
}

#loadPresetField {
    height: 24px;
}

/* TODO Fix scrollbar stuff */
.selectionBoxBody::-webkit-scrollbar {
    width: 5px;
    background-color: var(--hover-color-color);
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 6px;
}

.footer-button {
    color: var(--inactive-color);
    background-color: transparent;
    font-size: 18px;
    border: none;
    margin: 10px;
}

.footer-button:hover {
    color: var(--primary-color);
}

.tab {
    display: none;
    width: 100%;
}

#loadingTab {
    display: inline-block;
}

#footer {
    /* Don't show the footer unless connected to socket */
    display: none;
}

p {
    margin-bottom: 15px;
}

#loader {
    height: 200px;
    width: 200px;
    border: 10px solid transparent;
    border-bottom: 10px solid var(--primary-color);
    border-top: 10px solid var(--primary-color);
    border-radius: 100px;
    animation: spinAround 3s linear infinite;
    margin: 50px;
}

.center {
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
}

#bulk-game-adder-box {
    max-width: 1000px;
    border: 2px solid var(--primary-color);
    border-radius: 25px;
    margin: 0 auto;
    padding: 35px;
    width: 90%;
}

.margin-top {
    margin-top: 12px;
}

.select, select {
    width: 100%;
}