<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AfterGame</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <link rel="stylesheet" href="/static/aftergame.css">
    <link rel="stylesheet" href="/static/fontawesome-free-5.15.3-web/css/all.css">
    <script src="/static/socket.io.min.js"></script>
    <script src="/static/aftergame.js"></script>
</head>
<body>
{# Main page container #}
<div class="content">

    {# Navbar #}
    <div class="topbar">
        <div class="topbarleft">
            AfterGame
        </div>
        <div class="topbarright">
            <input id="loadPresetField" class="input" type="text" placeholder="Load a Preset"
                   onkeyup="inputEnterAction(this.value, loadPreset);"/>
        </div>
    </div>

    {# For detecting clicks off a modal #}
    <div id="invisibleDiv" onclick="hideSelectionBoxListener(event);">
        {# TODO Modal #}
        <div id="selectionBox" class="selectionBox">
            <div id="selectionBoxHeader" class="selectionBoxHeader">
                Selection Box Title
            </div>
            <div id="selectionBoxBody" class="selectionBoxBody">
                Selection Box Body
            </div>
        </div>
    </div>

    {# Main screen with selectables #}

    <div id="selectables" class="tags center-tags">
        {% for selectableName in data.config.selectable_order %}
            <button class="selectable selectable_{{ selectableName }} selectable_disabled"
                    onclick="showSelectionBox(this, '{{ selectableName }}');">
                {% set selectableProperties = data.config.selectables[selectableName] %}
                {{ selectableProperties.friendly_name }} Loading...
            </button>
        {% endfor %}
    </div>

    <div class="has-text-centered">
        <button class="normal-button" onclick="showNewPrestBox();">Save as Preset</button>
    </div>

    {# TODO add footer #}

</div>
</body>
</html>