<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AfterGame</title>
    <link rel="stylesheet" href="/static/bulma.min.css">
    <link rel="stylesheet" href="/static/aftergame.css">
    <link rel="stylesheet" href="/static/fontawesome-free-5.15.3-web/css/all.css">
    <script src="/static/socket.io.min.js"></script>
    <script src="/static/aftergame.js"></script>
</head>
<body>

{# For detecting clicks off a modal #}
<div id="invisibleDiv" onclick="hideSelectionBoxListener(event);">
    <div id="selectionBox" class="selectionBox">
        <div id="selectionBoxHeader" class="selectionBoxHeader">
            Selection Box Title
        </div>
        <div id="selectionBoxBody" class="selectionBoxBody">
            Selection Box Body
        </div>
    </div>
</div>

{# Main page container #}
<div class="content">
    {# Navbar #}
    <div class="topbar">
        <a href="/">
            <div class="topbarleft white-text">
                AfterGame
            </div>
        </a>
        <div class="topbarright">
            <input id="loadPresetField" class="input" type="text" placeholder="Load a Preset"
                   autocomplete="off" onkeyup="inputEnterAction(this.value, loadPreset);"/>
        </div>
    </div>

    {# To show error messages #}
    <div id="toastBox"></div>

    {# Start of tabs #}

    <div id="loadingTab" class="tab">
        <div class="center-tags">
            <div id="loader"></div>
        </div>
        <div class="center">
            <h4 class="primary-text">Connecting to AfterGame Server</h4>
            <p>Ensure the server is running and you have a stable network connection.</p>
        </div>
    </div>

    <div id="mainTab" class="tab">
        {# Main screen with selectables #}
        <div id="selectables" class="tags center-tags">
            {% for selectableName in data.config.selectable_order %}
                <button class="selectable selectable_{{ selectableName }} selectable_disabled"
                        onclick="showSelectionBox(this, '{{ selectableName }}');">
                    {% set selectableProperties = data.config.selectables[selectableName] %}
                    {% if not selectableProperties %}
                        "{{ selectableName }}" does not exist in the "selectables" category in the configuration
                    {% else %}
                        {{ selectableProperties.friendly_name }} Loading...
                    {% endif %}
                </button>
            {% endfor %}
        </div>

        <div class="has-text-centered">
            <button class="normal-button" onclick="showNewPrestBox(this);">Save as Preset</button>
        </div>
    </div>

    {# Another tab #}
    <div id="dataTab" class="tab">
        Data Manager tab
    </div>

    <div id="bulkTab" class="tab">
        <div class="center">
            <h4 class="margin-top">Bulk Game Adder</h4>
        </div>
        <div id="bulk-game-adder-box">

            {% set games = data.config.selectables.game %}
            {% set platforms = data.config.selectables.platform %}
            {% if games and platforms %}
                {# It's valid to use the bulk game adder now #}
                <div class="columns">
                    <div class="column is-6">
                        <form onsubmit="return false;">
                            <div class="field">
                                <label class="label">Game Title</label>
                                <div class="control">
                                    <input id="bulkGameTitle" class="input" autocomplete="off" type="text"
                                           placeholder="Game Title" oninput="updateBulkPreview();">
                                </div>
                            </div>

                            <div class="field">
                                <label class="label">Platform</label>
                                <div class="control">
                                    <div class="select">
                                        <div id="bulkGameAdderPlatformOptions">
                                            <select id="bulkGamePlatform" oninput="updateBulkPreview();">
                                                {% for platform in data.config.selectable_options[platforms.options] %}
                                                    <option>{{ platform }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="field">
                                <label class="label">Barcodes</label>
                                <div class="control">
                                    <textarea id="bulkGameBarcodes" class="textarea" oninput="updateBulkPreview();"
                                              placeholder="Scan all barcodes associated with this preset, one per line."></textarea>
                                </div>
                            </div>
                        </form>
                    </div>

                    {# Dummy column to separate the sides more #}
                    <div class="column is-1"></div>

                    <div class="column is-5">
                        <div class="center">
                            <h3>Preview</h3>
                        </div>
                        <div class="medium-text">Game:
                            <span id="bulkGameAdderGamePreview" class="primary-text"></span></div>
                        <div class="medium-text">Platform:
                            <span id="bulkGameAdderPlatformPreview" class="primary-text"></span>
                        </div>
                        <div class="medium-text">Preset Barcodes:</div>
                        <div id="bulkGameAdderBarcodes">
                            {# This will be filled dynamically by Javascript #}
                        </div>
                        <div class="center margin-top">
                            <button class="normal-button" onclick="addBulkGame();">Add Game</button>
                        </div>

                    </div>
                </div>
            {% else %} {# Configuration missing required things #}
                <p>The configuration is missing the "game" and/or "platform" selectables, so the bulk game adder cannot
                    be used.</p>
            {% endif %}
        </div>
    </div>
</div>
{# Footer #}
<div id="footer" class="sticky-footer">
    <div class="has-text-centered">
        <button class="footer-button" onclick="showTab('mainTab');">Home</button>
        <button class="footer-button" onclick="showTab('dataTab');">Data Manager</button>
        <button class="footer-button" onclick="showTab('bulkTab');">Bulk Game Adder</button>
    </div>
</div>
</body>
</html>